<head>
<style>
.redact{
    text-decoration:line-through;
}
</style>
<script type="text/javascript">
    function toggle(param) {
        param.classList.toggle("redact");
    };
function extractText() {
    const node = document.getElementById('redactedText');
    text = "";
    for (const child of node.childNodes) {
        if (child.nodeType == Node.TEXT_NODE) {
            text += child.textContent;
        } else if (!child.classList.contains("redact")) {
            text += child.innerText;
        } else if (!child.classList.contains("tooltip")){
            text += "XXXX";
        }
    }
    document.getElementById('finalText').innerHTML = text;
}
</script>
</head>
<body>
<div id = "redactedText">
{% for blob in redacted_results %}
{% if blob.1 %} <span class="redact" onclick="toggle(this)">{{ blob.0 }}</span>
{% else %} {{ blob.0 }}
{% endif %}
{% endfor %}
</div>
<button onclick="extractText()">Submit</button>
<div id="finalText"></div>
</body>
